/* fontes importadas do google fonts 
font-family: 'Righteous', cursive;
font-family: 'Sarala', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

/*reset de formatação css*/
*{ 
    margin: 0;/*A propriedade margin do CSS define a área de margem nos quatro lados do elemento */
    padding:0;/* distancia da tag e o conteúdo dela */
    box-sizing: border-box;/*faz com que o navegador não calcule a dimensão de um elemento somando bordas e margens com altura e largura.*/
    text-decoration: none;/*remove qualquer decoração do texto, sublinhados, cor azuis */
}


/*backgraund degrade*/
body{
    
    background-image: linear-gradient( to bottom, rgba(6, 18, 30, 0.1), #06121e), url("../imagens/imagem11.png");
    background-size: 100%; /* tamanho de 500 e no eixo y tera 100% */
    width: 100%;
    height: 100%;
    z-index: -1; /*embaixo do conteudo*/
    background-size: cover; /* quem quebrar a imagem*/
    background-repeat: no-repeat; /* para não repetir a imagem*/
    background-position: 100% ;
   
   
}



.cabecalho{
    display: flex;/*deixa o conteudo da tag na horizontal */
    flex-direction: row; /* deixa o conteudo da tag na horizontal, reforçando o display flex */
    align-items: center;/*centraliza os itens, nesta caso alinha os itens da nav assim também como o logo*/
    justify-content: space-around;/*gera uma borda nas laterais da classe assim também como um espaçamento entre o logo e a nav*/
    padding: 15px;
    
}

.cabecalho-imagem{
height: 100px;
border-radius: 200px;



}

.cabecalho-menu{
    display: flex;
    gap: 32px;
    list-style: none; /* serve para tirar o pontinho na marcação da nav */
}

.cabecalho-menu-item{

    font-family: 'Sarala', sans-serif;
    color: rgb(247, 238, 232);
    font-weight: 400;
    font-size: 18px;

    
}


.cabecalho a:hover {
    color: rgba(236, 214, 196, 0.53);
    
}


/* botão para aparecer somente no celular */
.hamburger{
    display: none; /* esconde o botão */
    border: none;
    background: none;
    border: 3px solid #ffff; /* primeiro traço do menu */
    cursor: pointer;;
}


.hamburger::before,
.hamburger::after{
    content: " ";
    display:block;
    width: 30px;
    height: 3px;
    background-color: #ffff;
    margin-top: 5px;
}




.conteudo{
    border-top: 0.4px solid #FFF2E7; /* um traço , tamanho, que tipo e cor*/
    margin-bottom: 48px;
    

}


 .conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
   justify-content: space-around;
    
  }
 

  .conteudo-principal-escrito{
    display:inline-block;
    flex-direction: column;
    gap: 30px;
    margin-left: 30px;
    

}  
  .conteudo-principal-escrito-titulo{
    display: flex;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 60px;
    color: #FFF2E7;
    
    
}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
    margin-top: 40px;
   
}

.conteudo-principal-escrito-botao{
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    margin-top: 40px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
    
    }
    .conteudo-principal-escrito-botao:hover {
        background-color: rgba(236, 214, 196, 0.53);
        
    }

    .conteudo-secundario{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:15px; /* espaçamento entre itens ( entre linhas)*/
        margin-top: 20px;

        
    }

    .conteudo-secundario-titulo{
        border-top: 0.4px solid #FFF2E7; /*um traço na horizontal*/
        padding: 40px;
        font-family: 'Righteous', cursive;
        font-weight: 400;
        font-size: 40px;
        color: #FFF2EF;
        margin-bottom: 10px;

    }

    .conteudo-secundario-paragrafo{

        font-family: 'Sarala', sans-serif;
        font-weight: 300;
        font-size: 24px;
        color: #f9f9f9;
        

    }

    /* traço final */
    .rodape{
        padding: 60px;
        border-top: 0.5px solid #FFF2E7; /*um traço na horizontal*/
        margin-top: 300px;
        width: 100%;   /* tamanho do traço */

    }

  


    /* texto do footer */

    .rodape h2{
       color: #f9f9f9;
       display: flex;
       justify-content: center;
       margin-top: 60px;
          
       
    }

    footer{
        bottom: 0;
        
        width: 90%;
    }


    
    /*///////////////////////// XICARA DE CAFÉ////////////////////////*/

    .container{
        position: relative;
        margin-left: 420px;
        top: 500px;
        
        
    }
    
    .cup{
        position: relative;
        width: 280px;
        height: 250px;
        background: linear-gradient(to right, #f9f9f9, #d9d9d9);
        border-bottom-left-radius: 45%; /*arredonda lado esquerdo baixo*/
        border-bottom-right-radius: 45%; /*arredonda lado direito baixo*/
        margin-left: 110px;
        
        
    }
    

    .top{
        position: absolute;
        top: -30px;
        left: 0;
        width: 100%;
        height: 70px;
        background: linear-gradient(to right, #f9f9f9, #d9d9d9);
        border-top-left-radius: 45%; /*arredonda lado esquerdo em cima*/
        border-top-right-radius: 45%; /*arredonda lado direito em cima*/
        
    }
    
     /* circulo dentro da xicara, o conteudo*/
    .circle{
        position: absolute;
        top: 5px;
        left: 10px;
        width: calc(100% - 20px); /*tamanho do circulo interno da xicara*/
        height: 60px;
        background: linear-gradient(to right,  #d1cece, #f3ebeb);
        border-radius: 50%;
        box-sizing: border-box;
        overflow: hidden; /*esconde o café com a borda debaixo da chicara*/
       
       
        
    }

    .tea{
        position: relative;
        top: 15px;
        left: 10px;
        width: calc(100% - 20px); /*tamanho do circulo interno da xicara*/
        height: 60px;
        background: linear-gradient(to right,  #0c0505, #421919);
        border-radius: 50%;
        overflow: hidden; /*esconde o café com a borda debaixo da chicara*/
        

    }

    /*alça da xicara*/

    .handle{
        position: absolute;
        right: -70px;
        top: 30px;
        width: 160px;
        height: 180px;
        border: 25px solid #dcdcdc;
        border-left: 25px transparent;
        border-bottom: 25px solid transparent;
        border-radius: 50%;
        transform: rotate(42deg);
    }


    /*pratinho da xicara*/
    .plate{
        position: relative; /*porque se absoluto vasa a tela na*/
        bottom: -290px;
        left: 50%;
        transform: translateX(-50%);
        width: 500px;
        height: 200px;
        background: linear-gradient(to right, #f9f9f9, #e7e7e7);
        border-radius: 50%; /*arredonda o pratinho*/
        box-shadow: 0 35px 35px rgba(0, 0, 0, 0);
        
        
    }

 /*profundidade e coloração do pratinho 3D*/
    
    .plate::before{
        content: " ";
        position: absolute;
        top: 1px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        border-radius: 50%;
        background: linear-gradient(to left, #f9f9f9, #e7e7e7);
    }


    .plate::after{
        content: " ";
        position: absolute;
        top: 30px;
        left: 30px;
        right: 30px;
        bottom: 30px;
         /*efeito muito massa de profundidade 3D*/
        background: radial-gradient(rgba(0,0,0,0.2) 28%, transparent, transparent); 
        border-radius: 50%;
    }


    .vapour{
      position: relative;
      display: flex;
      z-index: 1;
      padding: 0 20px;
    }

    .vapour span{
        position: relative;
        bottom: 50px;
        display: block;
        margin: 0 2px 50px;
        min-width: 8px;
        height: 120px;
        background: #fff;
        border-radius: 50%;
        animation: animate 5s linear infinite;
        opacity: 0;
        filter:blur(8px); /*deixa com o aspecto de fumaça*/
        animation-delay: calc(var(--i) * -0.5s);
      }


      /*animação com a fumaça subindo */
      @keyframes animate {
        0%{

            transform: translateY(0) scaleX(1) ;
            opacity: 0;
        }
        15%{
            opacity: 1;            
        }
        
        50%{

            transform: translateY(-150px) scaleX(5);
        }
        95%{
            opacity: 0;
        }
        100%{
            transform: translateY(-300px) scaleY(10);
        }
      }

    /*///////////////////////// XICARA DE CAFÉ////////////////////////*/












    /*///////=======RESPONSIVIDADE ========\\\\\\\\\\*/

    @media screen and (max-width:700px) {
        .hamburger{
            display: block;
            z-index: 1; /*para o botão ficar sobre o circulo*/
        }

        .cabecalho-menu{
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: linear-gradient(to left, #4f3f35 ,#866a56, #a38068, #a38068 ); /* deixa o fundo gradiente*/
            background-size: 300% 50%; /* tamanho de 500 e no eixo y tera 100% / proporção do degrade*/
            animation: degrade-animado 6s infinite alternate ; /* chamando a animação de novo do background*/
            /*mascara em formato de circulo*/
            clip-path: circle(100px  at 90% -19%); /*cirulo que se espandira ao clicar no menu*/ /* -15% na posisão y, eleva o circulo pra cima*/
            transition: 1s ease-out; /*para fazer a transição suave*/


            flex-direction: column; /* poem o itens em coluna */
            justify-content: space-around; /*distriui os itens no espaço disponivel */
            align-items: center;
            gap: 0;
            pointer-events: none; /* para o usuario não seja capaz de clicar em algo que não esta aparecendo na tela */
            
        }


        /*manipulação de keyframe ( para animação)*/


        @keyframes degrade-animado {
             0%{
              background-position-x: 0%;
             }
             100%{
             background-position-x: 100%;
             }

        }

        /* função que será chamada no javascript para abrir o menu*/
        .open{
            clip-path:  circle(1500px at 90% -15%);
            pointer-events: all;
        }
        
        button{
           margin-bottom: 20px;
        }

        .conteudo-principal {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;

        }

       

        .conteudo-principal-escrito{
            margin: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

        }


        .conteudo-principal-escrito-titulo{
            font-weight: 400;
            font-size: 40px;
        }

        .conteudo-principal-escrito-subtitulo{
            font-weight: 400;
            font-size: 20px;
        }


        .conteudo-principal-escrito-botao{
            width: 180px;
            height: 50px;
            margin-top: 20px;
                     
        }



        .conteudo-secundario-titulo{
            font-size: 38px;
         
        }

        .conteudo-secundario-paragrafo{
    
            margin: 0px  20px  0px  20px;
        
            flex-direction: column;
            text-align: center;
            font-size: 25px;
           

        }

       


        .rodape h2{
            color: #f9f9f9;
            display: flex;
            text-align: center;
            
               
            
         }

        
        
        .container{
            margin: -150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: -50px;
           
            

        }


        .cup{
          
          
            position: relative;
            width: 170px;
            height: 170px;
            margin-left: 19px; 
        
                
        }
        
       
        
    
           /*pratinho da xicara*/
       .plate{
        content: " ";
        position: absolute;
        top: 30px;
        left: 30px;
        right: 30px;
        bottom: 30px;
         /*efeito muito massa de profundidade 3D*/
        background: radial-gradient(rgba(0,0,0,0.3) 26%, transparent, transparent); 
        border-radius: 50%;
        width: 350px;
        margin-top: 20px;
        margin-left: 70px;  /*ajuste do prato*/
        
      
        
       }

       
    /*alça da xicara*/

    .handle{
        position: absolute;
        right: -40px;
        top: 30px;
        width: 100px;
        height: 100px;
        border: 25px solid #dcdcdc;
        border-left: 25px transparent;
        border-bottom: 25px solid transparent;

        
     
      
    }


       
        
    }




   